*{
    box-sizing: border-box;
}
a,i{
    text-decoration: none;
    color:#000000 ;
    font-size:13px ;
}
body{
    min-height: 100vh;
    position: relative;
}
//导航栏
.top-container{
    width: 100%;
    // background-color: #bfa;
    height: 45px;
}
.nav-topleft{
    margin-right: 15px;
    width: 220px;
    float: right;
    .three{
        margin-top: 15px;
        display: flex;
        justify-content: space-around;

        .resume{
            // font-weight: bold;
            a{
                line-height: 30px;
            }
        }
        .resume:hover{
            text-decoration: underline;
        }
       i{
           line-height: 30px;
       }
        .contact{
            width: 75px;
            background-color: #4285f4;
            border-radius: 2px;
            line-height: 28px;
            padding-left: 12px;
            a{
                margin: 0 5px;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

//主体
.body-container{
    position: relative;
     margin:80px auto ;
     width: 100%;


.main-body{
    width: 345px;
    height:320px;
    margin:0 auto;
   .name-logo{
    margin-bottom: 10px;
        img{
            display: block;
            width: 320px;
            margin: 0 auto;

        }
    }
    .search-bar-container{
        
        .search-bar{
            margin: 0 auto;
            max-width: 586px;
            min-width: 345px;
            min-height: 38px;
            border: 1px solid #4d90fe;
            padding: 5px 9px 0 9 px;
            
        }
       



    }
}
.button-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    margin-top: 20px;
    .introduction,.feeling-lucky{
        display: inline-block;
        width: 120px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #757575;
        background-color:#f2f2f2 ;
        font-weight: bold;
        font-size: 13px;
    }
    
}
.link-below{
    a{
        display: block;
        margin-top: 25px ;
        text-align: center;
        color:#1a0dab ;
        &:hover{
            text-decoration: underline;
        }
    }
}
}




// footer
.footer-container{
    clear: both;
    height: 40px;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;

.left-footer{
float: left;
    div{
        float: left;
        line-height: 40px;
        margin: 0 6px;
        margin-left: 20px;
        a{
            color: #666666;
        }
    }
}

.right-footer{
    float: right;
    line-height: 40px;
    margin: 0 20px;
    a{
        color: #666666;
    }
}
}